PORT=3000
EBAY_ENV=production
EBAY_MARKETPLACE_ID=EBAY_US
EBAY_USER_ACCESS_TOKEN=
EBAY_CLIENT_ID=
EBAY_CLIENT_SECRET=
EBAY_REFRESH_TOKEN=
EBAY_MERCHANT_LOCATION_KEY=
EBAY_CATEGORY_ID=261328
EBAY_PAYMENT_POLICY_ID=
EBAY_RETURN_POLICY_ID=
EBAY_FULFILLMENT_POLICY_GROUND_ADVANTAGE_ID=
EBAY_FULFILLMENT_POLICY_LESS_THAN_20_ID=
EBAY_FULFILLMENT_POLICY_LESS_THAN_20_MACHINEABLE_ID=
OPENAI_API_KEY=
OPENAI_VISION_MODEL=gpt-4.1
APIFY_TOKEN=
APIFY_EBAY_SOLD_ACTOR_ID=caffein.dev~ebay-sold-listings
APIFY_EBAY_SOLD_DAYS_TO_SCRAPE=60
APIFY_EBAY_SOLD_COUNT=10
APIFY_EBAY_SITE=ebay.com
APIFY_EBAY_CATEGORY_ID=0
APIFY_EBAY_SORT_ORDER=endedRecently
APIFY_EBAY_ITEM_LOCATION=domestic
